* {
  box-sizing: border-box;
}

h1, h2, h3 {
    font-family: 'East Sea Dokdo', cursive;
}

body {
  font-family: Arial;
  padding: 20px;
  background-image: url('./contact_background.jpg');
  background-size: contain;
  background-blend-mode: color-burn;
}

/* Header/Blog Title */

.header-container {
  box-shadow: 0 0 15px 0 gray;
  border-radius: 15px 15px 15px 15px;
  background-color: #ddd;
  background-image: linear-gradient(white, gray);
}



.header {
  padding: 20px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.header h1 {
  font-size: 150px;
  color: #000;
  
}

.subtitle {
    font-size: 1.5em;
    font-weight: 600;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
  border-radius: 0 0 15px 15px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

/* Change color on hover */
.topnav a:hover {
  background-color: rgba(211, 211, 211, 0.637);
color: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  padding-left: 10px;
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
  z-index: -1;
}



.image1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.profile-title {
    font-family: 'East Sea Dokdo', cursive;
    text-align: center;
    font-size: 2.75em;
}

/* Add a card effect for articles */
.card {
  box-shadow: 0 0 15px 0 gray;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  background-color: #ddd;
}

.image {
  border-radius: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  width: 100%;
   box-shadow: 0 0 15px 0 gray;
  border-radius: 15px 15px 15px 15px;
  padding: 20px;
  background: #ddd;
  margin: 25px 10px;
}



/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}